### Misc ###
.DS_Store
/tmp
/out-tsc

### IDE ###
# JETBRAINS
.idea/
.run/
# VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Dependencies ###
node_modules
yarn.lock
package-lock.json
